.nav-open{
    display: none;
}
.navigation{}

@media only screen and (max-width: 840px){
    .nav-open{
        display: inline;
    }
    .navigation{
        position: fixed;
        top: 60px;
        right: 40px;
        flex-direction: column;
        background-color: #fff;
        z-index: 5;
        height: 0;
        overflow: hidden;
    }
    .navigation.active{
        height: auto;
    }
    .navigation .text-white{
        color: var(--clr-dark) !important;
    }
}